{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div class="box {{ block_prefixes[block_prefixes|length - 2] }}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{# error #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="formValidationErrors">
            {%- for error in errors -%}
                <li class="formValidationError">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{% block datepicker_widget -%}
    <input type="text" {{ block('widget_attributes') }} value="{{ value ? value|date('Y-m-d') : '' }}"/>
    <script>
        $(function () {
            $('#{{ id }}').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                scrollInput: false,
            });
        });
    </script>
{%- endblock datepicker_widget %}

{% block choice_multi_json_widget -%}
    <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}"/>
    <select id="{{ id }}_select" multiple>
        {% for choice in choices %}
            <option value="{{ choice.value }}" {% if '"' ~ choice.value ~ '"' in value %}selected{% endif %}>{{ choice.label }}</option>
        {% endfor %}
    </select>
    <script>
        $(function() {
            $(document).on('change', '#{{ id }}_select', function() {
                $('#{{ id }}').val(JSON.stringify($(this).val()));
            });
        });
    </script>
{%- endblock choice_multi_json_widget %}

{% block wysiwyg_widget -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock wysiwyg_widget -%}

{% block assetpicker_widget -%}
    <div class="widget style1" style="padding: 0; margin: 0;">
        <div class="row">
            <div class="col-xs-4 text-center" style="width: auto;">
                <img src="/pz/asset/image/20/asset-picker-preview/" alt="image" style="height: 50px;">
            </div>
            <div class="col-xs-8 text-right" style="width: auto;">
                <button class="btn btn-white btn-xs">Change</button>
            </div>
        </div>
    </div>
{%- endblock assetpicker_widget -%}