{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div class="box {{ block_prefixes[block_prefixes|length - 2] }}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block datepicker_widget -%}
    <input type="text" {{ block('widget_attributes') }} value="{{ value ? value|date('Y-m-d') : '' }}"/>
    <script>
        $(function () {
            $('#{{ id }}').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                scrollInput: false,
            });
        });
    </script>
{%- endblock datepicker_widget %}

{% block choice_multi_json_widget -%}
    <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}"/>
    <select id="{{ id }}_select" multiple>
        {% for choice in choices %}
            <option value="{{ choice.value }}" {% if '"' ~ choice.value ~ '"' in value %}selected{% endif %}>{{ choice.label }}</option>
        {% endfor %}
    </select>
    <script>
        $(function() {
            $(document).on('change', '#{{ id }}_select', function() {
                $('#{{ id }}').val(JSON.stringify($(this).val()));
            });
        });
    </script>
{%- endblock choice_multi_json_widget %}

{# error #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="errors">
            {%- for error in errors -%}
                <li class="error">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}