{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div class="box {{ block_prefixes[block_prefixes|length - 2] }}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block datepicker_widget -%}
    <input type="text" {{ block('widget_attributes') }} value="{{ value ? value|date('Y-m-d') : '' }}"/>
    <script>
        $(function () {
            $('#{{ id }}').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                scrollInput: false,
            });
        });
    </script>
{%- endblock datepicker_widget %}