{% extends 'layout.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-7">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h1>{% if modelType == 1 %}Built-in{% else %}Customised{% endif %} models</h1>
            </div>
            <div class="ibox-content">
                <a href="{{ path('add-model', { modelType: modelType, returnURL: returnURL|url_encode }) }}">
                    <button class="btn btn-success">
                        <span class="txt">Add new model</span>
                    </button>
                </a>
                <div>&nbsp;</div>

                {% if models|length > 0 %}
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="width: 40px;" class="text-left">ID</th>
                            <th class="text-left">Name</th>
                            <th style="width: 60px;" class="text-left">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody id="columns">
                        {% for itm in models %}
                            <tr id="{{ itm.id }}">
                                <td>{{ itm.id }}</td>
                                <td>{{ itm.label }}</td>
                                <td>
                                    <a href="{{ path('edit-model', { modelType: modelType, returnURL: returnURL|url_encode, id: itm.id }) }}"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        <div>
    </div>
{% endblock %}

{% block extraFooter %}
    <script>
        $(function () {
            $('#columns').sortable({
                stop: function (event, ui) {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('sort-models') }}',
                        data: 'data=' + encodeURIComponent(JSON.stringify($('#columns').sortable("toArray"))),
                        success: function (msg) {
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}

