{% extends 'layout.twig' %} 

{% block extraHead %}
    <style>
        .dataTables_wrapper {
            padding-bottom: 0;
        }

        .table #columns td {
            vertical-align: middle;
            cursor: move;
        }
    </style>
{% endblock %} 

{% block content %}
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h1>New Model</h1>
                </div>
                <div class="ibox-content">
                    <form method="post" autocomplete="off" novalidate>
                        <div class="row show-grid form-group">
                            <div class="col-md-6">
                                {{ form_label(form.label) }}
                                {{ form_widget(form.label, {attr: {class: 'form-control'}}) }}
                                {{ form_errors(form.label) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.className) }}
                                {{ form_widget(form.className, {attr: {class: 'form-control'}}) }}
                                {{ form_errors(form.className) }}
                            </div>
                            <div class="col-md-3">
                                <div class="i-checks">
                                    {{ form_widget(form.modelType) }}
                                </div>
                                {{ form_errors(form.modelType) }}
                            </div>
                            <div class="col-md-4">
                                <div class="i-checks">
                                    {{ form_widget(form.dataType) }}
                                </div>
                                {{ form_errors(form.dataType) }}
                            </div>
                            <div class="col-md-5">
                                <div class="i-checks">
                                    {{ form_widget(form.listType) }}
                                </div>
                                {{ form_errors(form.listType) }}
                            </div>
                            <div class="col-md-2 col-md-offset-5 model-pagination-detail" style="visibility: hidden;">
                                {{ form_label(form.numberPerPage) }}
                                {{ form_widget(form.numberPerPage, {attr: {class: 'form-control'}}) }}
                                {{ form_errors(form.numberPerPage) }}
                            </div>
                            <div class="col-md-2 model-pagination-detail" style="visibility: hidden;">
                                {{ form_label(form.defaultSortBy) }}
                                {{ form_widget(form.defaultSortBy, {attr: {class: 'form-control'}}) }}
                                {{ form_errors(form.defaultSortBy) }}
                            </div>
                            <div class="col-md-3 model-pagination-detail" style="visibility: hidden;">
                                {{ form_label(form.defaultOrder) }}
                                {{ form_widget(form.defaultOrder, {attr: {class: 'form-control'}}) }}
                                {{ form_errors(form.defaultOrder) }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-4">
                                <select id="fields" class="chosen-select form-control"></select>
                            </div>

                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th width="15%">Table column</th>
                                        <th width="20%">Widget</th>
                                        <th width="35%">Label</th>
                                        <th width="25%">Field</th>
                                        <th width="5%"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="columns"></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group" style="display: none;">
                            {{ form_label(form.columnsJson) }}
                            {{ form_widget(form.columnsJson, {attr: {class: 'form-control'}}) }}
                            {{ form_errors(form.columnsJson) }}
                        </div>

                        <div class="form-group">
                            {{ form_widget(form._token) }}
                            <button class="btn btn-primary">
                                <i class="icon"></i>
                                <span class="txt">Add model</span>
                            </button>
                            <button class="btn">
                                <span class="txt">or Cancel</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block extraFooter %}
    <script id="field-source" type="text/x-handlebars-template">{% include 'handlebars/model/field.twig' %}</script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
        var _fieldSource = $("#field-source").html();
        var _columns = JSON.parse('{{ form.columnsJson.vars.value ?: '[]' }}');
        var _fields = {{ fields|json_encode|raw }};
        var _metas = {{ metas|json_encode|raw }};
        var _widgets = {{ widgets|json_encode|raw }};

        $(function () {
            $(document).on('change', '#fields', function (ev) {
                _columns.push({
                    dbField: $(this).val(),
                    widget: $(this).find('option:selected').val().toLowerCase().indexOf('date') === -1 ? 'text' : 'date',
                    label: $(this).find('option:selected').text().toLowerCase().replace(/\b[a-z]/g, function (letter) {
                        return letter.toUpperCase();
                    }) + ':',
                    field: $(this).find('option:selected').text().toLowerCase(),
                });
                render();
            });
            render();

            $('#form_listType :radio').on('change', function (event) {
                if ($(this).val() == 0) {
                    $('.model-pagination-detail').css('visibility', 'visible');
                } else {
                    $('.model-pagination-detail').css('visibility', 'hidden');
                }
            });
        });

        function render() {
            $('#fields').empty();
            $('#fields').append('<option></option>');
            for (var idx in _fields) {
                var itm = _fields[idx];
                var exist = false;
                for (var idx2 in _columns) {
                    var itm2 = _columns[idx2];
                    if (itm2.dbField == itm) {
                        exist = true;
                    }
                }
                if (!exist) {
                    $('#fields').append('<option value="' + itm + '">' + idx.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                                return letter.toUpperCase();
                            }) + '</option>');
                }
            }

            if (_columns.length == 0) {
                _columns.push({
                    dbField: 'text1',
                    widget: 'text',
                    label: 'Title:',
                    field: 'title',
                });
            }
            $('#columns').empty();
            for (var idx in _columns) {
                var itm = _columns[idx];
                var template = Handlebars.compile(_fieldSource);
                $('#columns').append(template({
                    itm: itm,
                    widgets: _widgets,
                }));
            }
            $.each($('#columns td'), function (key, value) {
                $(value).css('width', $(value).outerWidth() + 'px');
            });
            $('#columns').sortable();

            $(".chosen-select").trigger("chosen:updated");
            $(".chosen-select").chosen({
                allow_single_deselect: true
            });
        }
        ;
    </script>
{% endblock %}
