{% raw %}
    <div class="panel panel-default panel{{ idx }}" style="position: relative;">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-7">
                    <label>Header</label>
                    <input type="text" class="block-widget header" value="{{ header }}">

                </div>
                <div class="col-lg-5">
                    <label>Code</label>
                    <input type="text" class="block-widget code" value="{{ code }}">
                </div>
                <a data-idx="{{ idx }}" class="delete btn btn-danger btn-circle btn-xs" href="#" style="position: absolute; right: -1em; top: -1em"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <textarea class="block-widget content" >{{ content }}</textarea>
        </div>
    </div>
{% endraw %}