{% raw %}
    <div class="my-file" data-id="{{ itm.id }}" data-title="{{ itm.title }}" style="background-image: url(/pz/asset/image/{{ itm.id }}/asset-picker-preview/)">
        <div class="text-center">
            <h4 title="{{ itm.title }}" class="btn btn-xs btn-default">{{ itm.title }}<h4>
        </div>
    </div>
{% endraw %}